<!DOCTYPE html>
<html>
<head>
    <title>File Resources</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {% if not reauth %}
    <script>
        setInterval(function(){
             var item = document.getElementById("auth_left");
             var counter = parseInt(item.innerHTML) - 1;
             if (counter <= 0) {
                document.location = '/re-auth';
             } else {
                item.innerHTML = counter;
             }
         }, 1000);
    </script>
    {% endif %}
</head>
<body>
    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">File Resources</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Файлы</a></li>
              <li><a href="/admin">Пользователи</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user %}
                <li><a href="/logout">Выход</a></li>
              {% else %}
                <li><a href="/auth">Аутентификация</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
{% if user %}
    <div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Вы вошли как {{user.name}}</div>
    {% if not reauth %}
    <div class="alert alert-info"><span class="glyphicon glyphicon-lock"></span> Вы авторизованы:
        <span class="glyphicon glyphicon-time"></span> <span id="auth_left">{{ auth_left - 2 }}</span> секунд осталось
        <ul>
        {% for perm in user.authorization %}
            <li>{{perm.name}}</li>
        {% endfor %}
        </ul>
    </div>
    {%endif%}
{% endif %}

{% block content %}
{% endblock %}

    </div>
</body>
</html>
