<!DOCTYPE html>
<html>
<head>
    <title>File Resources</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">File Resources</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Файлы</a></li>
              <li><a href="/admin">Пользователи</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user %}
                <li><a href="/logout">Выход</a></li>
              {% else %}
                <li><a href="/auth">Аутентификация</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

{% block content %}
{% endblock %}

    </div>
</body>
</html>
